:root {
  --nest-orange: #ff6633;
}

.md-header {
  background-color: var(--nest-orange) !important;
}

@media screen and (max-width: 60em) {
  .md-sidebar .md-nav__title {
    background-color: var(--nest-orange) !important;
  }
}

/* only override for dark/slate scheme */
[data-md-color-scheme="slate"] .md-banner--warning {
  background: var(--md-footer-bg-color);
}

.iframe-container {
  height: 0;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.iframe-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.md-grid {
  max-width: 73rem;
}

.events dl {
  display: flex;
  flex-wrap: wrap;
}

.events dt {
  width: 150px;
}

.events dd {
  margin: 0 !important;
  width: calc(100% - 150px);
}

.events dd p {
  margin: 0 !important;
}

.footnote p {
  display: inline;
}

.card-img {
  font-size: 48px;
}

/* Timeline CSS */
.timeline .card {
  border: 0px;
}

.timeline .left {
  border-right: 2px solid var(--md-default-fg-color);
}

.timeline .entry.left::after,
.timeline .entry.right::before {
  background: var(--md-default-bg-color);
  border-radius: 50%;
  border: 2px solid var(--md-default-fg-color);
  content: "";
  display: block;
  height: 1em;
  position: relative;
  top: 1rem;
  width: 1em;
  z-index: 999;
}

.timeline .entry.left::after {
  right: -0.55em;
}

.timeline .entry.right::before {
  left: -0.55em;
}

.timeline .left.year {
  text-align: right;
}

.timeline .year p {
  font-size: 28px;
  line-height: 60px;
  margin: 0 32px;
}
